doctype html
html(lang='en')
    block head
        head
            block meta
                meta(charset='UTF-8')
                meta(http-equiv="X-UA-Compatible", content="IE=edge")
                meta(name="viewport", content="width=device-width, initial-scale=1.0")
            block title
                title Netflix - #{title}
            block styles
                link(href='/static/css/styles.css', rel='stylesheet')
                link(rel="icon", type="image/x-icon", href="/static/icons/netflix.jpeg")
            block scripts
    body
        block body
            block content
                h1 Home
