extends base.pug

block content
    h1 #{title}
    ul
        li 
            div 
                img(src="https://occ-0-3216-2164.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABRj8CiAE73dhH3LUnjpZ70QIWdP-x2lmfR3x0nDimHwXxzEagh3nGD_eFFdfWgYhR7KfpzA0hKDNN6eo5WgNIGivsQ_3.webp?r=6f8", alt="the good doctor")
                form(action='/1/', method='POST')
                    span The Good Doctor
                    button(type="submit") Play
