.pinning-header
    .pinning-header-container
        .main-header.has-billboard.menu-navigation(role='navigation')
            a.logo.icon-logoUpdate.active(href='/')
            ul.tabbed-primary-navigation
                li.navigation-menu
                    a.menu-trigger(role='button' tabindex='0')
                    | Browse
                li.navigation-tab
                    a.current.active(href='/') Home
            .secondary-navigation
                .nav-element
                    .searchBox
                    button.searchTab(tabindex='0' data-uia='search-box-launcher')
                        span.icon-search
                .nav-element
                    span.notifications
                        button.notifications-menu
                            span.icon-button-notification
                            span.notification-pill 0
                .nav-element
                    .account-menu-item
                        .account-dropdown-button
                            span.profile-link(role='presentation')
                                img.profile-icon(src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABbme8JMz4rEKFJhtzpOKWFJ_6qX-0y5wwWyYvBhWS0VKFLa289dZ5zvRBggmFVWVPL2AAYE8xevD4jjLZjWumNo.png?r=a41' alt='')
                            span.caret(role='presentation')
