#member-footer.member-footer(role='contentinfo')
    .social-links
        i.fa-brands.fa-facebook-f
        i.fa-brands.fa-instagram
        i.fa-brands.fa-twitter
        i.fa-brands.fa-youtube
    ul.member-footer-links
        li.member-footer-link-wrapper
            span.member-footer-link-content Audio and Subtitles
        li.member-footer-link-wrapper
            span.member-footer-link-content Audio Description
        li.member-footer-link-wrapper
            span.member-footer-link-content Help Centre
        li.member-footer-link-wrapper
            span.member-footer-link-content Gift Cards
        li.member-footer-link-wrapper
            span.member-footer-link-content Media Centre
        li.member-footer-link-wrapper
            span.member-footer-link-content Investor Relations
        li.member-footer-link-wrapper
            span.member-footer-link-content Jobs
        li.member-footer-link-wrapper
            span.member-footer-link-content Terms of Use
        li.member-footer-link-wrapper
            span.member-footer-link-content Privacy
        li.member-footer-link-wrapper
            span.member-footer-link-content Legal Notices
        li.member-footer-link-wrapper
            span.member-footer-link-content Cookie Preferences
        li.member-footer-link-wrapper
            span.member-footer-link-content Corporate Information
        li.member-footer-link-wrapper
            span.member-footer-link-content Contact Us
    .member-footer-copyright
        span &copy; 2022 Netflix, Inc.
        span.member-footer-copyright-instance for educational purpose only
