doctype html
head
  title(data-rh='true') Home - Netflix
  link(type='text/css' rel='stylesheet' href='https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.22.5-shakti-css-v1b7ed29f/css/css/less%7Ccore%7Cerror-page.less/1/b0spv4utlo5far/none/true/none' data-uia='botLink')
  link(type='text/css' rel='stylesheet' href='https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.22.5-shakti-css-v1b7ed29f/css/css/less%7Cpages%7CakiraClient.less/1/b0spv4utlo5far/none/true/none' data-uia='botLink')
  link(rel='shortcut icon' href='https://assets.nflxext.com/ffe/siteui/common/icons/nficon2016.ico')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer')
  style.
    .social-links i {
    color: white;
    font-size: x-large;
    margin: 1rem;
    }
#appMountPoint
  .netflix-sans-font-loaded
    div(dir='ltr')
      div
        .bd.dark-background(lang='en-IN' data-uia='container-adult')
          include header.pug
          #main-view.mainView(role='main')
            .lolomo.is-fullbleed
              span.volatile-billboard-animations-container
                .billboard-row(role='region')
                  .ptrack-container.billboard-presentation-tracking
                    .billboard-presentation-tracking.ptrack-content
                      .billboard-presentation-tracking.ptrack-content
                        .billboard.billboard-pane.billboard-originals.trailer-billboard
                          .billboard-motion
                            .motion-background-component.bottom-layer.full-screen
                              .hero-image-wrapper
                                img.hero.static-image.image-layer(src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZkf7Q9979J2jV2V7NjidxuLLLiC6zaD5UtV1wFofN07TVitnZSt9dOjYOMekeqI20_i_VYvm18DRs_nQ4sNZPDYM_7c.webp?r=c0d' alt='')
                          .fill-container
                            .info.meta-layer
                              .logo-and-text.meta-layer
                                .titleWrapper
                                  .billboard-title
                                    img.title-logo(alt="'83" src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABQPIgYvylQ4BYAWr1-T2yUiL-bOe7l5TaIVi5VXk48FXuLbVFspTbzo0mtjS-hBsImUScmR8NtdXCVyjtW4sule_bqThGvhnMFwq.webp?r=1c9' title="'83")
                                .info-wrapper
                                  .info-wrapper-fade
                                    .supplemental-message
                                      svg.svg-icon.svg-icon-top-10-badge(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' style='color: #e50914')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M3 2C2.44772 2 2 2.44772 2 3V21C2 21.5523 2.44772 22 3 22H21C21.5523 22 22 21.5523 22 21V3C22 2.44772 21.5523 2 21 2H3ZM17.2299 10.8934C16.6125 10.4971 15.8913 10.2996 15.0673 10.2996C14.2444 10.2996 13.5231 10.4971 12.9056 10.8934C12.2881 11.2905 11.8114 11.8536 11.4762 12.5839C11.1411 13.3149 10.9735 14.1695 10.9735 15.1493C10.9735 16.1383 11.1411 16.9957 11.4762 17.7221C11.8114 18.4478 12.2881 19.0091 12.9056 19.4052C13.5231 19.8014 14.2444 20 15.0673 20C15.8913 20 16.6125 19.8014 17.2299 19.4052C17.8475 19.0091 18.3242 18.4478 18.6594 17.7221C18.9945 16.9957 19.1612 16.1383 19.1612 15.1493C19.1612 14.1695 18.9945 13.3149 18.6594 12.5839C18.3242 11.8536 17.8475 11.2905 17.2299 10.8934ZM9.47922 19.7994V10.3263L4.92658 11.4351V13.2656L7.20991 12.6774V19.7994H9.47922ZM13.7606 12.9513C14.0767 12.4298 14.5117 12.1701 15.0673 12.1701C15.6239 12.1701 16.0589 12.4298 16.3751 12.9513C16.6913 13.4718 16.8489 14.2058 16.8489 15.1493C16.8489 16.0938 16.6913 16.8268 16.3751 17.3473C16.0589 17.8688 15.6239 18.1296 15.0673 18.1296C14.5117 18.1296 14.0767 17.8688 13.7606 17.3473C13.4442 16.8268 13.2868 16.0938 13.2868 15.1493C13.2868 14.2058 13.4442 13.4718 13.7606 12.9513ZM13.0737 4.19939C12.7285 4.06677 12.3485 4 11.9344 4C11.5194 4 11.1405 4.06677 10.7952 4.19939C10.4521 4.33122 10.1518 4.51771 9.89848 4.75622C9.64404 4.99367 9.44963 5.27379 9.312 5.59396C9.17437 5.91504 9.10556 6.26299 9.10556 6.63872C9.10556 7.01446 9.17437 7.36241 9.312 7.68349C9.44963 8.00352 9.64404 8.28286 9.89848 8.52136C10.1518 8.75974 10.4521 8.9453 10.7952 9.07792C11.1405 9.20976 11.5194 9.27745 11.9344 9.27745C12.3485 9.27745 12.7285 9.20976 13.0737 9.07792C13.4168 8.9453 13.7161 8.75974 13.9704 8.52136C14.2239 8.28286 14.4194 8.00352 14.557 7.68349C14.6947 7.36241 14.7635 7.01446 14.7635 6.63872C14.7635 6.26299 14.6947 5.91504 14.557 5.59396C14.4194 5.27379 14.2239 4.99367 13.9704 4.75622C13.7161 4.51771 13.4168 4.33122 13.0737 4.19939ZM8.75526 5.30869V4.12288H4V5.30869H5.63894V9.15457H7.11632V5.30869H8.75526ZM18.9904 4.3469C18.6683 4.19847 18.2893 4.12327 17.8484 4.12327H15.5101V9.15392H16.9855V7.70838H17.8484C18.2893 7.70838 18.6683 7.63318 18.9904 7.48384C19.3117 7.33541 19.5601 7.12483 19.7366 6.85484C19.9132 6.58578 20 6.26931 20 5.90845C20 5.55682 19.9132 5.24587 19.7366 4.97602C19.5601 4.70683 19.3117 4.49624 18.9904 4.3469ZM11.2392 5.39166C11.4387 5.27379 11.6701 5.21545 11.9344 5.21545C12.1988 5.21545 12.4302 5.27379 12.6297 5.39166C12.8292 5.50954 12.9849 5.67653 13.0955 5.89001C13.2072 6.10521 13.2632 6.35386 13.2632 6.63872C13.2632 6.92267 13.2072 7.17224 13.0955 7.38651C12.9849 7.60092 12.8292 7.76791 12.6297 7.88565C12.4302 8.00352 12.1988 8.062 11.9344 8.062C11.6701 8.062 11.4387 8.00352 11.2392 7.88565C11.0397 7.76791 10.8841 7.60092 10.7724 7.38651C10.6617 7.17224 10.6057 6.92267 10.6057 6.63872C10.6057 6.35386 10.6617 6.10521 10.7724 5.89001C10.8841 5.67653 11.0397 5.50954 11.2392 5.39166ZM16.9855 5.27195H17.6149C17.9252 5.27195 18.1515 5.32845 18.2913 5.43895C18.4309 5.54931 18.5017 5.70616 18.5017 5.90845C18.5017 6.11535 18.4309 6.27589 18.2913 6.38902C18.1515 6.50228 17.9252 6.55878 17.6149 6.55878H16.9855V5.27195Z' fill='currentColor')
                                      |                                             #1 in Movies Today
                                    .episode-title-container
                                    .synopsis-fade-container
                                      .synopsis
                                        // 
                                        | Amid doubt and derision,
                                        | indomitable captain Kapil Dev leads
                                        | India&apos;s struggling cricket team
                                        | to make history at the 1983 World
                                        | Cup. Based on true events.
                                        // 
                                .billboard-links.button-layer.forward-leaning
                                  a(href='/stream/1/')
                                    button(style='padding: 1rem 2rem; font-size: large; color: black;')
                                      i.fa-solid.fa-play
                                      |                                           Play
              .lolomoRow.lolomoRow_title_card.css-0(data-list-context='genre')
                #row-3.rowContainer.rowContainer_title_card
                  .ptrack-container
                    .rowContent.slider-hover-trigger-layer
                      .slider
                        ul.pagination-indicator
                          li.active
                          li
                          li
                          li
                          li
                          li
                          li
                        .sliderMask.showPeek
                          .sliderContent.row-with-x-columns
                            .slider-item.slider-item-0
                              .title-card-container.css-0
                                #title-card-3-0.title-card
                                  .ptrack-content
                                    a.slider-refocus(href='/watch/70153404?tctx=3%2C0%2C%2C%2C%2C%2C%2C' role='link' aria-label='Friends' tabindex='0' aria-hidden='false')
                                      .boxart-size-16x9.boxart-container.boxart-rounded
                                        img.boxart-image.boxart-image-in-padded-container(src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABWvcuiRhCNqXOoW9axD3Y3mWJwuX0Ga2uMJ79FmFbpVJ0zfQsyZ_ZzUdGa8xuMCuYv2BKoypQNcSqiEX8m-kpg2Q1dY.webp?r=57b' alt='')
                                        .fallback-text-container(aria-hidden='true')
                                          p.fallback-text
                                            | Friends
                                      .click-to-change-JAW-indicator
                                        .bob-jawbone-chevron
                                          svg.svg-icon.svg-icon-chevron-down(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.293 7.29297L12.0001 14.5859L4.70718 7.29297L3.29297 8.70718L11.293 16.7072C11.4805 16.8947 11.7349 17.0001 12.0001 17.0001C12.2653 17.0001 12.5196 16.8947 12.7072 16.7072L20.7072 8.70718L19.293 7.29297Z' fill='currentColor')
                                  .bob-container
                            .slider-item.slider-item-1
                              .title-card-container.css-0
                                #title-card-3-1.title-card
                                  .ptrack-content
                                    a.slider-refocus(href='/watch/80176893?tctx=3%2C1%2C%2C%2C%2C%2C%2C' role='link' aria-label='The Good Doctor' tabindex='0' aria-hidden='false')
                                      .boxart-size-16x9.boxart-container.boxart-rounded
                                        img.boxart-image.boxart-image-in-padded-container(src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABYQHx9Pd7krnBglmuVgJ29ypryT2XeYpB8aiFuQN27QR5i5hwT5hrdFJPQi9uwiDC3k5x1hOwpEmuecDXs830T47994.webp?r=65f' alt='')
                                        .fallback-text-container(aria-hidden='true')
                                          p.fallback-text
                                            | The Good Doctor
                                      .click-to-change-JAW-indicator
                                        .bob-jawbone-chevron
                                          svg.svg-icon.svg-icon-chevron-down(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.293 7.29297L12.0001 14.5859L4.70718 7.29297L3.29297 8.70718L11.293 16.7072C11.4805 16.8947 11.7349 17.0001 12.0001 17.0001C12.2653 17.0001 12.5196 16.8947 12.7072 16.7072L20.7072 8.70718L19.293 7.29297Z' fill='currentColor')
                                  .bob-container
                            .slider-item.slider-item-2
                              .title-card-container.css-0
                                #title-card-3-2.title-card
                                  .ptrack-content
                                    a.slider-refocus(href='/watch/70143822?tctx=3%2C2%2C%2C%2C%2C%2C%2C' role='link' aria-label='Two and a Half Men' tabindex='0' aria-hidden='false')
                                      .boxart-size-16x9.boxart-container.boxart-rounded
                                        img.boxart-image.boxart-image-in-padded-container(src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABd9Yhh1hFJbDnaPNpEpSbYdLOiZCKXFiNJGE-TSj--olYWap0YySjWjQFGQKVd6Bl-IJTLok90wLqO115HYD_H1lcTc.webp?r=7c2' alt='')
                                        .fallback-text-container(aria-hidden='true')
                                          p.fallback-text
                                            | Two and a Half Men
                                      .click-to-change-JAW-indicator
                                        .bob-jawbone-chevron
                                          svg.svg-icon.svg-icon-chevron-down(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.293 7.29297L12.0001 14.5859L4.70718 7.29297L3.29297 8.70718L11.293 16.7072C11.4805 16.8947 11.7349 17.0001 12.0001 17.0001C12.2653 17.0001 12.5196 16.8947 12.7072 16.7072L20.7072 8.70718L19.293 7.29297Z' fill='currentColor')
                                  .bob-container
                            .slider-item.slider-item-3
                              .title-card-container.css-0
                                #title-card-3-3.title-card
                                  .ptrack-content
                                    a.slider-refocus(href='/watch/70143830?tctx=3%2C3%2C%2C%2C%2C%2C%2C' role='link' aria-label='The Big Bang Theory' tabindex='0' aria-hidden='false')
                                      .boxart-size-16x9.boxart-container.boxart-rounded
                                        img.boxart-image.boxart-image-in-padded-container(src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABfhRpIbg2DZXb2Kur0OFqqqLOQ55ZX8lfLulyABdd5GWHp6GJdP_qA3Ag52UVs2I9CaRsICGHlK-qVVfOAxrRanEQX0.webp?r=9d9' alt='')
                                        .fallback-text-container(aria-hidden='true')
                                          p.fallback-text
                                            | The Big Bang Theory
                                      .click-to-change-JAW-indicator
                                        .bob-jawbone-chevron
                                          svg.svg-icon.svg-icon-chevron-down(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.293 7.29297L12.0001 14.5859L4.70718 7.29297L3.29297 8.70718L11.293 16.7072C11.4805 16.8947 11.7349 17.0001 12.0001 17.0001C12.2653 17.0001 12.5196 16.8947 12.7072 16.7072L20.7072 8.70718L19.293 7.29297Z' fill='currentColor')
                                  .bob-container
                            .slider-item.slider-item-4
                              .title-card-container.css-0
                                #title-card-3-4.title-card
                                  .ptrack-content
                                    a.slider-refocus(href='/watch/80241027?tctx=3%2C4%2C%2C%2C%2C%2C%2C' role='link' aria-label='Too Hot to Handle' tabindex='0' aria-hidden='false')
                                      .boxart-size-16x9.boxart-container.boxart-rounded
                                        img.boxart-image.boxart-image-in-padded-container(src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABbusOPgFSCXj87NFHQNhWKANgiRkdD-p0xACVSbiNsp8rhJ6wnydqfHIZobVyk6u7_2bHJlT01dw1wnQ2a8A66TO_Gmfs1K8-3H8FqejvSHobN4M0QSiBWRO1pSn.jpg?r=8a4' alt='')
                                        .fallback-text-container(aria-hidden='true')
                                          p.fallback-text
                                            | Too Hot to Handle
                                      .click-to-change-JAW-indicator
                                        .bob-jawbone-chevron
                                          svg.svg-icon.svg-icon-chevron-down(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.293 7.29297L12.0001 14.5859L4.70718 7.29297L3.29297 8.70718L11.293 16.7072C11.4805 16.8947 11.7349 17.0001 12.0001 17.0001C12.2653 17.0001 12.5196 16.8947 12.7072 16.7072L20.7072 8.70718L19.293 7.29297Z' fill='currentColor')
                                  .bob-container
                            .slider-item.slider-item-5
                              .title-card-container.css-0
                                #title-card-3-5.title-card
                                  .ptrack-content
                                    a.slider-refocus(href='/watch/70281562?tctx=3%2C5%2C%2C%2C%2C%2C%2C' role='link' aria-label='Brooklyn Nine-Nine' tabindex='0' aria-hidden='false')
                                      .boxart-size-16x9.boxart-container.boxart-rounded
                                        img.boxart-image.boxart-image-in-padded-container(src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABQO417AoaMguF_DtQ1zOivjKkMZEpP5zA1YFG1zwSewxnHSW3UyRVVbIUbhMdVsXnZzFolmiO9x3tteyklzoM_fZ9VA.webp?r=a8a' alt='')
                                        .fallback-text-container(aria-hidden='true')
                                          p.fallback-text
                                            | Brooklyn Nine-Nine
                                      .click-to-change-JAW-indicator
                                        .bob-jawbone-chevron
                                          svg.svg-icon.svg-icon-chevron-down(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.293 7.29297L12.0001 14.5859L4.70718 7.29297L3.29297 8.70718L11.293 16.7072C11.4805 16.8947 11.7349 17.0001 12.0001 17.0001C12.2653 17.0001 12.5196 16.8947 12.7072 16.7072L20.7072 8.70718L19.293 7.29297Z' fill='currentColor')
                                  .bob-container
                            .slider-item.slider-item-6
                              .title-card-container.css-0
                                #title-card-3-6.title-card
                                  .ptrack-content
                                    a.slider-refocus(href='/watch/80036165?tctx=3%2C6%2C%2C%2C%2C%2C%2C' aria-label="Schitt's Creek" tabindex='-1' aria-hidden='true')
                                      .boxart-size-16x9.boxart-container.boxart-rounded
                                        img.boxart-image.boxart-image-in-padded-container(src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABc30tY_YHFejNG-KnOz0arx2aNm-aP694iyqyjkm1GJNeBalqlz6wnSAzQfOamq6NE5Sen5b7Fp5_hvVzzcpMCx9yOU.webp?r=a1d' alt='')
                                        .fallback-text-container(aria-hidden='true')
                                          p.fallback-text
                                            | Schitt&apos;s Creek
                                      .click-to-change-JAW-indicator
                                        .bob-jawbone-chevron
                                          svg.svg-icon.svg-icon-chevron-down(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.293 7.29297L12.0001 14.5859L4.70718 7.29297L3.29297 8.70718L11.293 16.7072C11.4805 16.8947 11.7349 17.0001 12.0001 17.0001C12.2653 17.0001 12.5196 16.8947 12.7072 16.7072L20.7072 8.70718L19.293 7.29297Z' fill='currentColor')
                                  .bob-container
                            .slider-item.slider-item-
                              .title-card-container.css-0
                                #title-card-3-7.title-card
                                  .ptrack-content
                                    a.slider-refocus(href='/watch/70153373?tctx=3%2C7%2C%2C%2C%2C%2C%2C' aria-label='Seinfeld' tabindex='-1' aria-hidden='true')
                                      .boxart-size-16x9.boxart-container.boxart-rounded
                                        img.boxart-image.boxart-image-in-padded-container(src='https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABdVd3EAjZkILBRyD0SBWeH3gLSlotpYxr7AK7bd3THaNGQ9KVJLJB5LSrAoJpZGlsrLrubxZXCqQ0Uzd2lT7DI9fsFA.webp?r=a2d' alt='')
                                        .fallback-text-container(aria-hidden='true')
                                          p.fallback-text
                                            | Seinfeld
                                      .click-to-change-JAW-indicator
                                        .bob-jawbone-chevron
                                          svg.svg-icon.svg-icon-chevron-down(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.293 7.29297L12.0001 14.5859L4.70718 7.29297L3.29297 8.70718L11.293 16.7072C11.4805 16.8947 11.7349 17.0001 12.0001 17.0001C12.2653 17.0001 12.5196 16.8947 12.7072 16.7072L20.7072 8.70718L19.293 7.29297Z' fill='currentColor')
                                  .bob-container
                            .slider-item.slider-item-
                              .smallTitleCard.loadingTitle.fullWidth
                                .ratio-16x9.no-pulsate
                            .slider-item.slider-item-
                              .smallTitleCard.loadingTitle.fullWidth
                                .ratio-16x9.no-pulsate
                            .slider-item.slider-item-
                              .smallTitleCard.loadingTitle.fullWidth
                                .ratio-16x9.no-pulsate
                            .slider-item.slider-item-
                              .smallTitleCard.loadingTitle.fullWidth
                                .ratio-16x9.no-pulsate
                            .slider-item.slider-item-
                              .smallTitleCard.loadingTitle.fullWidth
                                .ratio-16x9.no-pulsate
                        span.handle.handleNext.active(tabindex='0' role='button' aria-label='See more titles')
                          b.indicator-icon.icon-rightCaret
          include footer.pug
